<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Emily Games</title>
</head>
<body>

    <nav class="NavBar ">
        <div class="Logo CandyFont TextColor_Dark1">Candy Games</div>
        <ul class="NavLinks">
          <li><a href="#" class="ActiveLink">Home</a></li>
          <li><a href="#" class="NormalLink">About</a></li>
          <li><a href="#" class="NormalLink">Login</a></li>
        </ul>
      </nav>

    <!--
    <div style="padding: 20px;">
        <h1>Games</h1>
        <table>
            <tr class="TextColor_Dark1">
                <th>Nome</th>
                <th>Genere</th>
                <th>Anno</th>
                <th>Short Description</th>
                <th>Description</th>
            </tr>

            <% games.forEach((game) => { %>
                <tr>
                    <td><%= game.titolo %></td>
                    <td><%= game.genere %></td>
                    <td><%= game.anno_uscita %></td>
                    <td><%= game.short_desc %></td>
                    <td><%= game.descrizione %></td>
                </tr>
            <% }) %>
        </table>
    </div>
    -->
</body>
</html>